@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.mainDiv{
    display: flex
}
.wrapper{
    /* background-color: red; */
    width: 75%;
    margin-left: 2%;
}

.wrapper h1{
    font-family: "Poppins", sans-serif;
}

.content{
    width: 80%;
    margin: 70px 10%;
}

.content h1{
    font-family: "Federo", sans-serif;
    text-decoration: underline;
}

.content p{
    font-size: 20px;
    line-height: 2.0rem;
}

@media screen and (max-width: 450px) {
    .wrapper h1{
        font-size: 20px;
        margin-top: 35px;
    }
    .content{
        width: 90%;
        margin: 40px 5%;
    }
    .content h1{
        font-family: "Federo", sans-serif;
        text-decoration: underline;
        font-size: 20px;
    }
    .content p{
        font-size: 16px;
        line-height: 1.6rem;
    }
}